[user]
	email = rob.hudson@gmail.com
  name = Rob Hudson
[alias]
	st = status
	aa = add .
	co = checkout
	br = branch
	lg = log --oneline --decorate --all --graph
[color]
	ui = true
[format]
	pretty = format:%C(blue black bold)%h%Creset %C(green bold)%s%Creset%C(yellow)%d%Creset [%C(cyan)%an%Creset] - %C(blue)%ar
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = /usr/bin/vim
[help]
	autocorrect = 1
[branch]
	autosetuprebase = always
[push]
	default = simple
[merge]
	ff = false
[rebase]
	autosquash = true
[rerere]
	enabled = true
